nav, footer {
  background-color: #99CED4
}
footer {
  text-align: center;
  padding: 1em 0 .3 0;
  color: #6E7376
}
nav ul {
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
nav a:link, nav a:visited {
  color: #6E7376;
  text-decoration: none;
}
nav a:hover {
  color: #4ABDAC;
  text-decoration: underline;
}
