/*-- Defaults --*/
html, body, main, section, header, div, article, aside, figure, figcaption, image, iframe, h1, h2, h3, h4, h5, h6, p, table, blockquote {
  margin: 0;
  padding: 0;
}
:root {
  --soft_peach: #fefdfd;
  --spun_pearl: #b1aebb;
  --studio: #5f43b2;
  --martinique: #3a3153;
  --black: #010101;
  --reg: all .3s ease-in-out;
  --font: 'Nunito', sans-serif;
  font-size: 62.5%;
}
::selection {
  color: var(--black);
  background-color: var(--soft_peach);
}
body {
  color: var(--soft_peach);
  font-size: 2rem;
  width: 98vw;
  margin: auto;
  line-height: 1.3;
  font-weight: 500;
  font-family: var(--Nunito);
  padding: 2rem 0;
}
.main-nav, h1, h2, h3, h4, h5, h6, .btn {
  font-family: 'Nunito';
  letter-spacing: 2px;
}
p {
  margin-bottom: 1.5rem;
}
body {
  background: rgb(254,253,253);
  background: linear-gradient(180deg,rgba(95,67,178,1) 33%, rgba(58,49,83,1) 66%, rgba(1,1,1,1) 100%);
}
.main-nav {
  background: var(--martinique);
  border-radius: .75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand {
  display: flex;
  align-items: center;
}
.brand img {
  height: 60px;
}
.brand h1 {
  padding-top: center;
  padding-left: center;
}
.material-icons {
  padding-left: .5rem;
  vertical-align: bottom;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.active {
  color: var(--soft_peach);
  font-weight: bold;
  padding-top: .5rem;
}
.nav-links {
  padding-top: 1.2rem;
  text-align: center;
}
.nav-links a {
  margin-left: 1.5rem;
  transition: var(--reg);
}
a:link {
  color: var(--soft_peach);
  text-decoration: none;
}
a:visited {
  color: var(--spun_pearl);
}
a:hover {
  color: var(--soft_peach);
  font-weight: lighter;
}
a:active, a.active {
  color: var(--soft_peach);
  font-weight: bold;
  text-decoration: underline;
}
main img {
  width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}
header {
  margin: 3rem auto;
}
.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}
.search {
  border: 2px solid var(--soft_peach);
  border-radius: 1.5rem;
  height: 35px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #e0dcec;
  transition: var(--reg);
}
.search-icon {
  position: absolute;
  top: 11px;
  left: 8px;
  width: 14px;
}
.search:hover, .search:focus {
  border: 2px solid var(--soft_peach);
  background-color: var(--soft_peach);
  border-radius: 2rem;
  transition: var(--reg);
}
section {
  display: grid;
  grid-gap: 3.2rem;
  margin: 3rem auto;
}
section.even {
  grid-template-columns: 1fr;
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  color: var(--spun_pearl);
  font-weight: normal;
  align-self: flex-start;
}
h3:hover {
  font-weight: bold;
  text-decoration: underline;
}
.outer {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner {
  max-width: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 16px 0 rgba(167, 167, 167, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.btn {
  cursor: pointer;
  color: var(--black);
  background-color: var(--soft_peach);
  border: none;
  border-radius: 1rem;
  padding: 1rem 3rem;
  text-align: center;
  transition: var(--reg);
}
.btn:hover {
  color: var(--soft_peach);
  background-color: var(--spun_pearl);
  border-radius: 1.5rem;
}
footer {
  background: var(--black);
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  direction: row;
  justify-content: center;
  font-size: 1.4rem;
}
@media screen and (min-width: 550px) {
  body {width: 98vw;}
  .inner {font-size: 2rem;}
  .h3 {text-align: center;}
}
@media screen and (min-width: 768px) {
  body {width: 86vw;}
  .inner {font-size: 2rem;}
}
@media screen and (min-width: 990px) {
  body {width: 84vw;}
  .main-nav {flex-direction: row; justify-content: space-between;}
  section.even {grid-template-columns: 1fr 1fr;}
  .outer {order: inherit;}
  .inner {font-size: 2rem;}
}
@media screen and (min-width: 1280px) {
  body {width: 80vw;}
  .inner {font-size: 2.5rem;}
}
@media screen and (min-width: 1440px) {
  body {width: 78vw;}
  section.even {grid-template-columns: 4fr 8fr;}
  .inner {font-size: 3rem;}
}
